@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  overflow-x: hidden;
}

* {
  transition: 0.3s;
}

a {
  text-decoration: none !important;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40%;
  padding-top: 75px;
  margin-left: 5%;
  z-index: 1;
}
.navbar .nav-item {
  margin-right: 10px;
  margin-left: 10px;
  color: #043A5B;
}
.navbar .nav-item:hover {
  opacity: 0.8;
}

#header {
  height: 80vh;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}
#header .header-title {
  text-align: center;
  margin-left: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 25vh;
  margin-right: 10px;
  margin-left: 10px;
}
#header #header-login,
#header #header-register {
  display: flex;
  position: absolute;
  font-family: "Poppins", sans-serif;
}
#header .header-button {
  font-family: Arial, Helvetica, sans-serif;
}
#header #header-register,
#header .header-button {
  background-color: #043A5B;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  justify-content: center;
  width: 200px;
  margin-top: 65px;
  cursor: pointer;
  right: 100px;
}
#header #header-register:hover,
#header .header-button:hover {
  background-color: #072a41;
  color: white;
}
#header #header-login {
  right: 350px;
  margin-top: 75px;
  color: #043A5B;
}
#header #header-login:hover {
  color: #212121;
}
#header #header-arrow {
  position: absolute;
  top: 88vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header #header-arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #043A5B;
  border-right: 3px solid #043A5B;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: scroll 2s infinite;
          animation: scroll 2s infinite;
}
#header #header-arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
#header #header-arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
#header h1,
#header h2 {
  margin-left: 10%;
  color: #043A5B;
}
#header h1 {
  margin-top: 225px;
}
#header h2 {
  font-size: 25px;
  width: 55%;
}
#header h2 + a {
  border-radius: 0px !important;
  margin-left: 10%;
  display: flex;
  margin-top: 25px !important;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
    -ms-transform: rotate(45deg) translate(-20px, -20px);
    -moz-transform: rotate(45deg) translate(-20px, -20px);
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    -o-transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
    -ms-transform: rotate(45deg) translate(20px, 20px);
    -moz-transform: rotate(45deg) translate(20px, 20px);
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    -o-transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
    -ms-transform: rotate(45deg) translate(-20px, -20px);
    -moz-transform: rotate(45deg) translate(-20px, -20px);
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    -o-transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
    -ms-transform: rotate(45deg) translate(20px, 20px);
    -moz-transform: rotate(45deg) translate(20px, 20px);
    -webkit-transform: rotate(45deg) translate(20px, 20px);
    -o-transform: rotate(45deg) translate(20px, 20px);
  }
}

.product img {
  width: 1300px;
  margin-left: -20%;
  margin-top: -200px;
  margin-bottom: 300px;
}
.product #product-right {
  width: 500px;
  position: absolute;
  right: 250px;
  margin-top: -1000px;
}
.product #product-right #product-right-button {
  display: flex;
  justify-content: center;
}
.product #product-right span {
  width: 70%;
  height: 2px;
  margin: auto;
  background-color: grey;
  display: block;
  text-align: center;
  margin-top: 30px;
  opacity: 0.4;
}
.product #product-right a {
  background-color: #043A5B;
  border: none;
  color: white;
  padding: 27px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}
.product #product-right a:hover {
  background-color: #072a41;
}
.product #product-right p {
  color: #043A5B;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 18px;
}
.product #product-right p:first-child {
  margin-top: 50px;
}

.blog {
  width: 80%;
  margin: auto;
}
.blog img {
  position: absolute;
  z-index: -1;
}
.blog #blog-separation {
  height: 1500px;
  width: 100%;
}
.blog #blog-search {
  display: flex;
  align-items: center;
}
.blog #blog-search span {
  padding-left: 3px;
  padding-right: 3px;
}
.blog #blog-search span,
.blog #blog-search i {
  color: #BEEDFA;
  font-size: 40px;
  font-weight: bold;
  margin: 0 !important;
}
.blog #blog-search i {
  color: #043A5B;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  padding-top: 3px;
}
.blog #blog-search .blog-active {
  color: #043A5B;
}
.blog #blog-search #blog-bar {
  display: flex;
  width: 25%;
  margin-left: 15px;
}
.blog #blog-search #blog-bar input {
  background-color: white;
  border: solid 1px #707070;
  width: 89%;
}
.blog #blog-search #blog-bar input[type=text] {
  color: #BEEDFA;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.blog #blog-search #blog-bar i {
  color: white;
  font-size: 30px;
  background-color: #043A5B;
  padding: 10px;
  float: right;
}
.blog .article {
  background-color: white;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px #707070;
}
.blog .article h2,
.blog .article p {
  text-align: left !important;
  font-family: "Poppins", sans-serif !important;
}
.blog .article h2 {
  color: #043A5B;
  font-size: 40px;
  font-weight: bold;
  margin: 0 !important;
}
.blog .article p {
  margin-top: 30px;
  color: #BEEDFA;
}

.article img,
.article p {
  margin: auto;
}
.article p {
  text-align: left;
  width: 80%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.article img {
  width: 60%;
  margin-top: 100px;
  margin-bottom: 400px;
  border: 3px #BEEDFA solid;
  display: block;
}

.team span {
  width: 70%;
  height: 2px;
  margin: auto;
  background-color: grey;
  display: block;
  text-align: center;
  opacity: 0.4;
}
.team span:last-child {
  margin-bottom: 500px;
}
.team .team-member {
  margin: auto;
  justify-content: center;
  align-items: center;
}
.team .team-member div {
  display: block;
}
.team .team-member div p {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  text-align: center;
  color: #043A5B;
  margin-left: 100px;
  margin-right: 100px;
}
.team .team-member .team-member-head {
  border: 8px solid #BEEDFA;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 35px;
  margin: auto;
  margin-bottom: 25px;
}
.team .team-member img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.team .team-member img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right center;
     object-position: right center;
}
.team .team-member img {
  transition: object-position 0.25s;
  transition: object-position 0.25s, -o-object-position 0.25s;
}
.team .team-member img:hover {
  -o-object-position: center;
     object-position: center;
}

.connexion img,
.contact img {
  position: absolute;
  margin-top: -175px;
  right: -350px;
}
.connexion #connexion-main,
.connexion #contact-main,
.contact #connexion-main,
.contact #contact-main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 450px;
}
.connexion #connexion-main .connexion-main-block,
.connexion #connexion-main .contact-main-block,
.connexion #contact-main .connexion-main-block,
.connexion #contact-main .contact-main-block,
.contact #connexion-main .connexion-main-block,
.contact #connexion-main .contact-main-block,
.contact #contact-main .connexion-main-block,
.contact #contact-main .contact-main-block {
  background-color: white;
  width: 500px;
  height: 650px;
  padding: 25px;
  position: relative;
  border: solid #ffffffca 3px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 50px;
}
.connexion #connexion-main h2,
.connexion #contact-main h2,
.contact #connexion-main h2,
.contact #contact-main h2 {
  color: #043A5B;
  letter-spacing: 0px !important;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
}
.connexion #connexion-main div,
.connexion #contact-main div,
.contact #connexion-main div,
.contact #contact-main div {
  margin-top: 50px;
  text-align: center;
}
.connexion #connexion-main input,
.connexion #contact-main input,
.contact #connexion-main input,
.contact #contact-main input {
  width: 60%;
  background-color: #a0ebff;
  color: white;
  border: none;
  border: solid 1px #707070;
  height: 35px;
  padding: 10px;
}
.connexion #connexion-main input[type=text],
.connexion #connexion-main input::placeholder,
.connexion #connexion-main input::-webkit-input-placeholder,
.connexion #contact-main input[type=text],
.connexion #contact-main input::placeholder,
.connexion #contact-main input::-webkit-input-placeholder,
.contact #connexion-main input[type=text],
.contact #connexion-main input::placeholder,
.contact #connexion-main input::-webkit-input-placeholder,
.contact #contact-main input[type=text],
.contact #contact-main input::placeholder,
.contact #contact-main input::-webkit-input-placeholder {
  opacity: 1;
}
.connexion #connexion-main input[type=submit],
.connexion #contact-main input[type=submit],
.contact #connexion-main input[type=submit],
.contact #contact-main input[type=submit] {
  background-color: #043A5B;
  color: white;
  height: 50px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  bottom: 10px;
  right: 10px;
  position: absolute;
}
.connexion #connexion-main input[type=submit]:hover,
.connexion #contact-main input[type=submit]:hover,
.contact #connexion-main input[type=submit]:hover,
.contact #contact-main input[type=submit]:hover {
  background-color: #072a41;
}
.connexion #connexion-main #connexion-block-checkbox,
.connexion #contact-main #connexion-block-checkbox,
.contact #connexion-main #connexion-block-checkbox,
.contact #contact-main #connexion-block-checkbox {
  justify-content: center;
  display: flex;
  align-items: center;
}
.connexion #connexion-main #connexion-block-checkbox label,
.connexion #contact-main #connexion-block-checkbox label,
.contact #connexion-main #connexion-block-checkbox label,
.contact #contact-main #connexion-block-checkbox label {
  color: #043A5B;
  height: 25px;
  letter-spacing: 1px;
  font-size: 20px;
}
.connexion #connexion-main #connexion-block-checkbox input,
.connexion #contact-main #connexion-block-checkbox input,
.contact #connexion-main #connexion-block-checkbox input,
.contact #contact-main #connexion-block-checkbox input {
  height: 25px;
  width: 50px;
}

.contact .contact-main-block {
  width: 900px !important;
  height: 665px !important;
}
.contact .contact-main-block div {
  text-align: left !important;
}
.contact .contact-main-block input[type=text],
.contact .contact-main-block input::placeholder,
.contact .contact-main-block input,
.contact .contact-main-block input::-webkit-input-placeholder {
  color: #043A5B !important;
}
.contact .contact-main-block input[type=submit] {
  color: white !important;
}
.contact .contact-main-block textarea {
  resize: none;
  width: 60%;
  color: #043A5B !important;
  height: 150px;
  background-color: #a0ebff;
  border: none;
  border: solid 1px #707070;
  padding: 10px;
}
.contact .contact-main-block textarea[type=text],
.contact .contact-main-block textarea::placeholder,
.contact .contact-main-block textarea::-webkit-input-placeholder {
  opacity: 1;
}

#part {
  display: block;
  padding-top: 100vh;
}
#part h2 {
  font-size: 35px;
  letter-spacing: 5px;
  width: 90%;
  margin: auto;
}
#part #part-error {
  margin-top: -15vh;
  padding-bottom: 25vh;
  font-size: 40px;
  font-weight: bold;
}
#part #part-error a {
  color: #a0ebff;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
#part #part-error a:hover {
  color: #043A5B;
}
#part h2,
#part #part-light h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #043A5B;
}
#part #part-light {
  text-align: center;
  padding-top: 150px;
}
#part #part-light img {
  width: 40%;
}
#part #part-light h3 {
  width: 40%;
  display: inline-block;
  text-align: left;
  font-size: 30px;
  vertical-align: middle;
  line-height: 1.5;
}
#part #part-blue {
  margin-top: 150px;
  height: 500px;
  margin-bottom: 350px;
}
#part #part-blue .part-blue-svg {
  height: 250px;
  overflow: hidden;
}
#part #part-blue .part-blue-svg svg {
  height: 100%;
  width: 100%;
}
#part #part-blue .part-blue-svg svg path {
  stroke: none;
  fill: #a0ebff;
}
#part #part-blue .part-blue-svg:last-child {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#part #part-blue #part-blue-separation {
  background-color: #a0ebff;
  width: 100%;
  height: 500px;
  padding-top: 100px;
}
#part #part-blue #part-blue-separation h2,
#part #part-blue #part-blue-separation a,
#part #part-blue #part-blue-separation img {
  position: relative;
}
#part #part-blue #part-blue-separation a {
  background-color: white;
  color: #043A5B;
  border-radius: 90px;
  padding: 25px 20px 25px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: center;
  margin-top: 150px;
  z-index: 1;
}
#part #part-blue #part-blue-separation a:hover {
  background-color: #043A5B;
  color: white;
}
#part #part-blue #part-blue-separation h2 {
  color: #043A5B;
  z-index: 1;
}
#part #part-blue #part-blue-separation img {
  margin-top: -400px;
  opacity: 0.2;
  z-index: 0;
}

#main {
  display: block;
  padding-top: 100vh;
}
#main h1,
#main h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#main h1 {
  color: #043A5B;
}
#main h2 {
  margin-bottom: 300px;
  color: #a0ebff;
}

.navbar-burger {
  position: fixed;
  z-index: 100;
  top: 63px;
  margin-right: 15px;
  right: 1rem;
  display: none;
  width: 3rem;
  height: 3rem;
  border: #212121 solid 1px;
  background: white;
  cursor: pointer;
}
.navbar-burger .navbar-close {
  display: none;
}
.navbar-burger:hover {
  background-color: #043A5B;
  color: white;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #212121;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;
  z-index: 2;
}
.navbar-menu li {
  padding: 1rem 0;
}
.navbar-menu a {
  display: inline;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.navbar-menu a:hover {
  text-decoration: underline;
  opacity: 0.4;
}

.navbar-show {
  transform: translateY(0);
}

.navbar-icon {
  display: block;
}

#footer-social {
  padding-top: 300px;
  margin-bottom: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#footer-social img {
  text-align: center;
  width: 100px;
  margin-left: 25px;
  margin-right: 25px;
}
#footer-social img:hover {
  opacity: 0.4;
}
#footer-social h3 {
  font-size: 15px;
  text-align: center;
  color: #043A5B;
}

footer {
  position: relative;
}
footer .cloud {
  z-index: -1;
  bottom: 0;
  width: 20%;
  position: absolute;
}
footer .cloud:nth-child(1) {
  margin-left: -15px;
}
footer .cloud:nth-child(2) {
  right: 0;
  margin-right: -15px;
}
footer #footer-inside {
  background-color: white;
  border: solid 1px #a0ebff;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
footer #footer-inside h3 {
  color: #043A5B;
  font-size: 23px;
  margin-left: 10%;
}
footer #footer-inside #footer-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #a0ebff;
  background-image: none;
}
footer #footer-inside #footer-select select::after {
  background-color: white;
}
footer #footer-inside #footer-select select::-ms-expand {
  display: none;
}
footer #footer-inside #footer-select {
  position: absolute;
  display: flex;
  width: 8em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  right: 0;
  margin-right: 10%;
  border: 1px #212121 solid;
}
footer #footer-inside #footer-select select {
  flex: 1;
  padding: 0 0.5em;
  color: #043A5B;
  cursor: pointer;
}
footer #footer-inside #footer-select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
footer #footer-inside #footer-select:hover::after {
  color: #a0ebff;
  transition: 0.3s;
}

@media (max-width: 1600px) {
  .product img {
    display: none;
  }
  .product #product-right {
    position: initial;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 300px;
  }
}
@media (min-width: 1225px) {
  .navbar-menu {
    display: none;
  }

  body {
    overflow-y: visible !important;
  }
}
@media (max-width: 1225px) {
  #part #part-light img {
    width: 60%;
    margin-bottom: 50px;
  }
  #part #part-light h3 {
    text-align: center;
    width: 90%;
  }
  #part .part-blue-svg svg {
    width: 300% !important;
  }

  .navbar-burger {
    display: block;
  }

  .navbar {
    display: none;
  }
}
@media (max-width: 750px) {
  .contact .contact-main-block {
    width: 900px !important;
    height: 800px !important;
  }
  .contact .contact-main-block input {
    width: 85% !important;
  }
  .contact .contact-main-block textarea {
    width: 85% !important;
  }
}
@media (max-width: 576px) {
  .cloud {
    display: none;
  }

  #part #part-light img {
    display: none;
  }
  #part #part-light h3 {
    width: 95%;
  }

  footer #footer-inside {
    height: 200px;
  }
  footer #footer-inside h3 {
    margin: auto;
    margin-top: 40px;
  }
  footer #footer-inside #footer-select {
    right: unset;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  #header-login {
    top: 75px;
    right: 25px !important;
  }

  #part #part-blue #part-blue-separation img {
    width: 100%;
  }
}
