$blue: #a0ebff;
$darkBlue: #043A5B;
$maxiDarkBlue: #072a41;
$white: white;
$darkWhite: #F1F1F1;
$black: #212121;
body {
    margin: 0;
    padding: 0;
    background-color: $darkWhite;
    overflow-x: hidden;
}

* {
    transition: 0.3s;
}

a {
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 35%;
    padding-top: 75px;
    margin-left: 5%;
    z-index: 1;
    .nav-item {
        margin-right: 10px;
        margin-left: 10px;
        color: $darkBlue;
        &:hover {
            opacity: 0.8;
        }
    }
}

#header {
    height: 80vh;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    .header-title {
        text-align: center;
        margin-left: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 5px;
        margin-top: 25vh;
    }
    #header-login,
    #header-register {
        display: flex;
        position: absolute;
        font-family: 'Poppins', sans-serif;
    }
    .header-button {
        font-family: Arial, Helvetica, sans-serif;
    }
    #header-register,
    .header-button {
        background-color: $darkBlue;
        color: $white;
        border-radius: 30px;
        text-align: center;
        padding: 10px 15px 10px 15px;
        justify-content: center;
        width: 200px;
        margin-top: 65px;
        cursor: pointer;
        right: 100px;
        &:hover {
            background-color: $maxiDarkBlue;
            color: $white;
        }
    }
    #header-login {
        right: 350px;
        margin-top: 75px;
        color: $darkBlue;
        &:hover {
            color: $black;
        }
    }
    #header-arrow {
        position: absolute;
        top: 88vh;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
            display: block;
            width: 20px;
            height: 20px;
            border-bottom: 3px solid $darkBlue;
            border-right: 3px solid $darkBlue;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            margin: -10px;
            animation: scroll 2s infinite;
        }
        span:nth-child(2) {
            animation-delay: -0.2s;
        }
        span:nth-child(3) {
            animation-delay: -0.4s;
        }
    }
    h1,
    h2 {
        margin-left: 10%;
        color: $darkBlue;
    }
    h1 {
        margin-top: 225px;
    }
    h2 {
        font-size: 25px;
        width: 55%;
    }
    h2+a {
        border-radius: 0px !important;
        margin-left: 10%;
        display: flex;
        margin-top: 25px !important;
    }
    @keyframes scroll {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
            -ms-transform: rotate(45deg) translate(-20px, -20px);
            -moz-transform: rotate(45deg) translate(-20px, -20px);
            -webkit-transform: rotate(45deg) translate(-20px, -20px);
            -o-transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
            -ms-transform: rotate(45deg) translate(20px, 20px);
            -moz-transform: rotate(45deg) translate(20px, 20px);
            -webkit-transform: rotate(45deg) translate(20px, 20px);
            -o-transform: rotate(45deg) translate(20px, 20px);
        }
    }
}

.product {
    img {
        width: 60%;
        margin-left: -20%;
        margin-top: -200px;
    }
    span {
        cursor: pointer;
    }
    .number {
        margin: 100px;
    }
    .minus,
    .plus {
        width: 20px;
        border-radius: 4px;
        padding: 8px 5px 8px 5px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
    }
    input {
        height: 34px;
        width: 100px;
        text-align: center;
        font-size: 26px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }
}

.blog {
    width: 80%;
    margin: auto;
    img {
        position: absolute;
        z-index: -1;
    }
    #blog-separation {
        height: 1500px;
        width: 100%;
    }
    #blog-search {
        display: flex;
        align-items: center;
        span {
            padding-left: 3px;
            padding-right: 3px;
        }
        span,
        i {
            color: #BEEDFA;
            font-size: 40px;
            font-weight: bold;
            margin: 0 !important;
        }
        i {
            color: #043A5B;
            padding-right: 10px;
            padding-left: 10px;
            cursor: pointer;
            padding-top: 3px;
        }
        .blog-active {
            color: #043A5B;
        }
        #blog-bar {
            display: flex;
            width: 25%;
            margin-left: 15px;
            input {
                background-color: white;
                border: solid 1px #707070;
                width: 89%;
            }
            input[type=text] {
                color: #BEEDFA;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: bold;
                font-family: 'Poppins', sans-serif;
            }
            i {
                color: white;
                font-size: 30px;
                background-color: #043A5B;
                padding: 10px;
                float: right;
            }
        }
    }
    .article {
        background-color: white;
        padding: 25px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        border: solid 1px #707070;
        h2,
        p {
            text-align: left !important;
            font-family: 'Poppins', sans-serif !important;
        }
        h2 {
            color: #043A5B;
            font-size: 40px;
            font-weight: bold;
            margin: 0 !important;
        }
        p {
            margin-top: 30px;
            color: #BEEDFA;
        }
    }
}

.article {
    img,
    p {
        margin: auto;
    }
    p {
        text-align: left;
        width: 80%;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    img {
        width: 60%;
        margin-top: 100px;
        margin-bottom: 400px;
        border: 3px #BEEDFA solid;
        display: block;
    }
}

.team {
    #team-stain {
        margin-top: -350px;
        margin-left: -400px;
        position: absolute;
    }
    .team-member {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child {
            margin-bottom: 300px;
            margin-top: 150px;
        }
        &:first-child h2:nth-child(1) {
            text-align: right !important;
        }
        .team-member-right {
            float: right !important;
        }
        h2 {
            margin: 0 !important;
            text-align: left !important;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            width: 65%;
            margin-top: 20px;
            color: #043A5B;
        }
        .team-member-head {
            border: 8px solid #BEEDFA;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 35px;
            margin-right: 35px;
        }
        img {
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
        img {
            object-fit: cover;
            object-position: right center;
        }
        img {
            transition: object-position .25s;
        }
        img:hover {
            object-position: center
        }
    }
}

#part {
    display: block;
    padding-top: 100vh;
    h2 {
        font-size: 35px;
        letter-spacing: 5px;
        width: 90%;
        margin: auto;
    }
    #part-error {
        margin-top: -15vh;
        padding-bottom: 25vh;
        font-size: 40px;
        font-weight: bold;
        a {
            color: $blue;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            &:hover {
                color: $darkBlue;
            }
        }
    }
    h2,
    #part-light h3 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: $darkBlue;
    }
    #part-light {
        text-align: center;
        padding-top: 150px;
        img {
            width: 40%;
        }
        h3 {
            width: 40%;
            display: inline-block;
            text-align: left;
            font-size: 30px;
            vertical-align: middle;
            line-height: 1.5;
        }
    }
    #part-blue {
        margin-top: 150px;
        height: 500px;
        margin-bottom: 350px;
        .part-blue-svg {
            height: 250px;
            overflow: hidden;
            svg {
                height: 100%;
                width: 100%;
                path {
                    stroke: none;
                    fill: $blue;
                }
            }
        }
        .part-blue-svg:last-child {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
        #part-blue-separation {
            background-color: $blue;
            width: 100%;
            height: 500px;
            padding-top: 100px;
            h2,
            a,
            img {
                position: relative;
            }
            a {
                background-color: white;
                color: $darkBlue;
                border-radius: 90px;
                padding: 25px 20px 25px 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 400px;
                text-align: center;
                margin-top: 150px;
                z-index: 1;
                &:hover {
                    background-color: $darkBlue;
                    color: $white;
                }
            }
            h2 {
                color: $darkBlue;
                z-index: 1;
            }
            img {
                margin-top: -400px;
                opacity: 0.2;
                z-index: 0;
            }
        }
    }
}

#main {
    display: block;
    padding-top: 100vh;
    h1,
    h2 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    h1 {
        color: #043A5B;
    }
    h2 {
        margin-bottom: 300px;
        color: #A0EBFF;
    }
}

.navbar-burger {
    position: fixed;
    z-index: 100;
    top: 63px;
    margin-right: 15px;
    right: 1rem;
    display: none;
    width: 3rem;
    height: 3rem;
    border: $black solid 1px;
    background: white;
    cursor: pointer;
    .navbar-close {
        display: none;
    }
    &:hover {
        background-color: $darkBlue;
        color: $white;
    }
}

.navbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
    z-index: 2;
    li {
        padding: 1rem 0;
    }
    a {
        display: inline;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            opacity: 0.4;
        }
    }
}

.navbar-show {
    transform: translateY(0);
}

.navbar-icon {
    display: block;
}

#footer-social {
    padding-top: 300px;
    margin-bottom: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        text-align: center;
        width: 100px;
        margin-left: 25px;
        margin-right: 25px;
        &:hover {
            opacity: 0.4;
        }
    }
    h3 {
        font-size: 15px;
        text-align: center;
        color: $darkBlue;
    }
}

footer {
    position: relative;
    .cloud {
        z-index: -1;
        bottom: 0;
        width: 20%;
        position: absolute;
    }
    .cloud:nth-child(1) {
        margin-left: -15px;
    }
    .cloud:nth-child(2) {
        right: 0;
        margin-right: -15px;
    }
    #footer-inside {
        background-color: $white;
        border: solid 1px $blue;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        h3 {
            color: $darkBlue;
            font-size: 23px;
            margin-left: 10%;
        }
        #footer-select select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: $blue;
            background-image: none;
            &::after {
                background-color: $white;
            }
        }
        #footer-select select::-ms-expand {
            display: none;
        }
        #footer-select {
            position: absolute;
            display: flex;
            width: 8em;
            height: 3em;
            line-height: 3;
            overflow: hidden;
            border-radius: .25em;
            right: 0;
            margin-right: 10%;
            border: 1px $black solid;
        }
        #footer-select select {
            flex: 1;
            padding: 0 .5em;
            color: $darkBlue;
            cursor: pointer;
        }
        #footer-select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 1em;
            background: $white;
            cursor: pointer;
            pointer-events: none;
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }
        #footer-select:hover::after {
            color: $blue;
            transition: 0.3s;
        }
    }
}

@media (min-width: 1225px) {
    .navbar-menu {
        display: none;
    }
    body {
        overflow-y: visible !important;
    }
}

@media (max-width: 1225px) {
    #part {
        #part-light {
            img {
                width: 60%;
                margin-bottom: 50px;
            }
            h3 {
                text-align: center;
                width: 90%;
            }
        }
        .part-blue-svg {
            svg {
                width: 300% !important;
            }
        }
    }
    .navbar-burger {
        display: block;
    }
    .navbar {
        display: none;
    }
}

@media (max-width: 576px) {
    .cloud {
        display: none;
    }
    #part {
        #part-light {
            img {
                display: none;
            }
            h3 {
                width: 95%;
            }
        }
    }
    footer {
        #footer-inside {
            height: 200px;
            h3 {
                margin: auto;
                margin-top: 40px;
            }
            #footer-select {
                right: unset;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 100px;
            }
        }
    }
    #header-login {
        top: 75px;
        right: 25px !important;
    }
    #part {
        #part-blue {
            #part-blue-separation {
                img {
                    width: 100%;
                }
            }
        }
    }
}
